<img src="/assets/images/food1.jpg" class="card-img-top" alt="...">
<img src="/assets/images/food 6.jpeg" class="card-img-top" alt="...">
<img src="/assets/images/offer1.jpg" class="card-img-top" alt="..."/>
<img src="/assets/images/food 6.jpeg" class="card-img-top" alt="...">
<img src="/assets/images/offer4.jpg" class="card-img-top" alt="...">

<div>
  <h2>EAT & DRINK</h2>
  <p>Our menus feature a wide selection of delicious dishes served right to your table with a smile. Our versatile
     kitchens are well stocked with a variety of favourites to meet every need: from early breakfasts to
     late-night snacks.</p>
</div>

<div>
  <h3>Natia HOTEL RESTAURANTS</h3>
</div>

<div>
  <img src="/assets/images/food7.jpg" class="card-img-top" alt="...">
  <a>Natia Grill Chitcken</a>
  <p>Natia Grill Kitchen offers honest, high-quality and delicious grilled dishes. Recharge your batteries over
    a beautiful lunch or enjoy a full meal of the best seasonal ingredients. Your whole family is welcome!
    Grill Kitchen is also the tastiest location in Espoo for your lunch meetings. </p>

    <p> Natia Grill Kitchen serves innovative grilled dishes all year round </p>

    <button>BOOK A TABLE </button>

</div>

<div>
  <img src="/assets/images/food7.jpg" class="card-img-top" alt="...">
<a href="">Natia BREAKFAST </a>
<h3>Wake up to start a new day at Natia Art Kitchen</h3>
<p>Enjoy your morning! When planning our breakfast, we focused on serving fresh, local, and tasty ingredients
  to ensure that our guests will have the best possible start of the day. You are free to choose your favorites
   among the Scandinavian and International breakfast options. We have also options for our vegan guests. On
   Saturdays and Sundays you can enjoy some non-alcoholic sparkling wine with your breakfas</p>
   <p>Breakfast hours:</p>
   <p>Mon–Fri 7–10am</p>
   <p>Sat–Sun 8am–12pm</p>

   <button>BOOK A TABLE</button>
</div>


