<div class="image-container">
  "Welcome to Natia Hotel"
</div>


<div class="section">
  <h3>MEETING &amp; EVENTS</h3>
  <p>The Natia Hotel is your premium address for hosting business meetings and events with fully-equipped facilities which are ideal for all types of functions, from corporate events to cocktail parties and more.</p>
  <p>Choose from 5 customized meeting rooms or the grand ballroom which can host up to 750 guests. Take advantage of the hotel's unique pool and garden area which is perfect for outdoor luncheons and dinner events.</p>
  <p>The hotel's event facilities and full-service business center are located on the same floor together with the All Day Dining restaurant and One to One Bar for your convenience.</p>
</div>



<div class="stand">
  <img src="/assets/images/meeting.jpg" alt="">
  <div class="card-body">
    <h2>MEETING ROOMS</h2>
    <p>Where efficiency and inspiration meet. Natia Hotel Meetings &amp; Events offers professional
      event management encapsulating the highest quality standards, creative cuisine, and qualified
      service. At any of our conference rooms, we create the ideal conditions for your meeting,
      banquet, or wedding with our individual solutions tailored to your requirements. Whatever
      the purpose of your meeting or event, we are here to cater to your needs and to deliver the
       services that we promised. We never tell you what you need. We listen and adapt our
       individual solutions to meet your requirements. For more information about meeting or
        event at Natia Hotel, please submit a <a href="/" style="color: rgb(49, 43, 43);">Request for Proposal.</a></p>
    <button class="btn btn-primary" routerLink="/contact">CONTACT US</button>
  </div>
</div>





<div class="confer">
  <img src="/assets/images/conference.jpg" alt="">
  <div class="card-body">
    <h2>CONFERENCE AND BANQUETING SERVICES</h2>
    <ul>
      <li>10 air-conditioned conference rooms</li>
      <li>State-of-the-art audiovisual equipment</li>
      <li>Equipment from small private events to large conferences to meet specific needs</li>
    </ul>
    <button class="btn btn-primary" routerLink="/contact">CONTACT US</button>
  </div>
</div>



<footer class="footer-area bg-f">

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="company-name" style="font-family: 'Times New Roman', Times, serif;">All Rights Reserved. &copy; 2023 <a href="#">the Natia Hotel</a></p>
        </div>
      </div>
    </div>
  </div>

</footer>

