
<mat-nav-list class="sidenav-list">

  <!-- <a mat-list-item routerLink="/accommodation" (click)="OnToggleClose()">
    <mat-icon></mat-icon>
    <span>Accommodation
    </span>
  </a> -->


  <a mat-list-item routerLink="/accomodation" (click)="OnToggleClose()">
    <mat-icon></mat-icon>
    <span>Accomodation</span>
  </a>


  <a mat-list-item routerLink="/gallery" (click)="OnToggleClose()">
    <mat-icon></mat-icon>
    <span>Gallery</span>
  </a>

  <a mat-list-item routerLink="/offers" (click)="OnToggleClose()">
    <mat-icon></mat-icon>
    <span>Offers</span>
  </a>

  <a mat-list-item routerLink="/events" (click)="OnToggleClose()">
    <mat-icon></mat-icon>
    <span>Events</span>
  </a>

  <a mat-list-item routerLink="/lifestyle" (click)="OnToggleClose()">
    <mat-icon></mat-icon>
    <span>Lifestyle</span>
  </a>




</mat-nav-list>

