<div class="quote" style="background-image: url('/assets/images/meets1.jpg');">
  <div class="content">
    <h2>STEP BEYOND</h2>
  </div>
</div>
<div class="deal">
<h2>Meetings &amp; Events </h2>
  <p>From lavish charity galas to intimate family celebrations, we bring people closer together to
     create events that are truly exceptional. With our remarkable venue options, world-class culinary expertise and passionate in-house teams, every moment is individually tailored to leave a lasting impression.</p>
</div>

<div class="card-grid">
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/meets.jpg" alt="...">
    </div>
    <div class="card-body">
      <h2>Meetings &amp; Conferences</h2>
      <p class="card-text">Find innovative, flexible solutions that work.</p>
    </div>
    <a href="/meetings">Learn More</a>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/meets2.jpg" alt="...">
    </div>
    <div class="card-body">
      <h2>Weddings</h2>
      <p class="card-text">Bring your wedding vision to life.</p>
    </div>
    <a href="/weddings">Plan Your Big Day</a>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision7.jpg" alt="...">
    </div>
    <div class="card-body">
      <h2>Reception &amp;  Celebrations</h2>
      <p class="card-text">Explore endless ways to honor special moments, big and small.</p>
    </div>
    <a href="/celebration">Explore Now</a>
  </div>
</div>

