<div class="quote" style="background-image: url('/assets/images/meets1.jpg');">
  <div class="content">
    <h2>STEP BEYOND</h2>
  </div>
</div>
<div class="deal">
<h2>Meetings &amp; Events </h2>
  <p>From lavish charity galas to intimate family celebrations, we bring people closer together to
     create events that are truly exceptional. With our remarkable venue options, world-class culinary expertise and passionate in-house teams, every moment is individually tailored to leave a lasting impression.</p>
</div>

<div class="card-grid">
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/meets.jpg" alt="...">
    </div>
    <div class="card-body">
      <h2>Meetings &amp; Conferences</h2>
      <p class="card-text">Find innovative, flexible solutions that work.</p>
    </div>
    <a href="/meetings">Learn More</a>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/meets2.jpg" alt="...">
    </div>
    <div class="card-body">
      <h2>Weddings</h2>
      <p class="card-text">Bring your wedding vision to life.</p>
    </div>
    <a href="/weddings">Plan Your Big Day</a>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision7.jpg" alt="...">
    </div>
    <div class="card-body">
      <h2>Reception &amp;  Celebrations</h2>
      <p class="card-text">Explore endless ways to honor special moments, big and small.</p>
    </div>
    <a href="/celebration">Explore Now</a>
  </div>
</div>
<!-- ****************************************************************************************** -->
<div class="contact-imfo-box">
  <i class="bi bi-telephone-fill">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
    </i>
     <div class="row">
      <h4> Phone</h4>
      <div class="col-sm-10">
        <p>+250780580605</p>
      </div>
    </div>

    <div class="mb">
      <i class="fa fa-envelope"></i>
      <h4>Email</h4>
      <div class="col-sm-10">
        <p>k.robert@gmail.com</p>
      </div>
    </div>

    <div class="locat">
      <i class="fa fa-map-marker"></i>
      <h4>Location</h4>
      <div class="col-sm-10">
        <p>Eastern Province - Rwanda</p>
      </div>
    </div>
  </div>



    <footer class="footer-area bg-f">

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p class="company-name" style="font-family: 'Times New Roman', Times, serif;">All Rights Reserved. &copy; 2023 <a href="#">the Natia Beach</a></p>
            </div>
          </div>
        </div>
      </div>

    </footer>

