
<div class="card">
  <img src="/assets/images/offer1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>TURN POINTS INTO REWARDING EXPERIENCES</h4 >
    <p> Redeem your loyalty points for a well deserved holiday break at any of our properties across the region.</p>
    <p>Valid from 1st February to 30th August 2023.</p>
    <strong>Terms and conditions:</strong>
    <p>Booking must be done through prestigeclub@serenahotels.com</p>
    <p>For the Easter holidays, point redemption is open to our Resort only</p>
    <p>Bookings are subject to availability</p>
    <strong>For Bookings contact:</strong>
    <p>Email: prestigeclub@natialbeach.com</p>
    <p>www.natialprestigeclub.com</p>
    <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" href="#" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
  </div>
</div>
