.room{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
  /* margin-left:100px ;
  margin-right: 100px ; */
  background-image: url("/assets/images/gallery1.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
}

.stand{
  /* padding-top:3px; */
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.09em;
  display: grid;
  font-size: 17px;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);  /* Adjust the number of columns as needed */
  grid-gap: 20px;  /* Adjust the gap between grid items as needed */
  margin-left: 50px;
}
.grid{
  display: flex;
 margin: 60px;
  margin-left: 215px;
  background-color: #101111;
  text-align: center;

}
.locat{
  margin-left: 180px;
}

.locat{
  margin-top: 5px;
color: #ffffff;
font-size: 20px;
padding: 0px;
font-weight: 500;
line-height: 24px;
}

.mb{
  margin-left: 180px;
  margin-top: 5px;
color: #ffffff;
font-size: 20px;
padding: 0px;
font-weight: 500;
line-height: 24px;
}

.row{
margin-top: 5px;
color: #ffffff;
font-size: 20px;
padding: 0px;
font-weight: 500;
line-height: 24px;
}

.grid i{
  display: block;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #fff;
	color: #f7911a;
	font-size: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	margin-right: 20px;
}


/* **********************************//************************************ */

.medias{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 28px;
}

.all{
  display: flex;
  /* text-align: center; */
  background: #6b3c40;
}

.service{
  margin-left: 200px;
  text-align: center;
}
/* .all h2{
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 250px;
} */

.facilty{
  margin-left: 250px;
  text-align: center;
}
.service p{
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}
.facilty p{
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}
