
  <div class="stand">
    <div class="card-body">
      <h3>A Stunning Space for Every Wedding Reception</h3>
      <p class="card-text">
        Whether you're traditional or far from it, we have the perfect hotel venue for your wedding
        reception. After you say, "I do," create lasting memories in an idyllic setting at one of
        our 30 extraordinary hotel brands. From lush gardens to scenic desertscapes, plan a wedding
        reception as unique as you.
      </p>
    </div>
    <img src="/assets/images/2.jpg" class="card-img-top" alt="...">
  </div>



      <div class="image">
        <img src="/assets/images/3.jpg" class="card-img-top" alt="...">
      </div>


   <div class="image-container">
        <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
        <img src="/assets/images/5.jpg" class="card-img-top" alt="...">
      </div>
      <div class="image-container">
        <img src="/assets/images/6.jpg" class="card-img-top" alt="...">
        <img src="/assets/images/7.jpg" class="card-img-top" alt="...">
        <img src="/assets/images/8.jpg" class="card-img-top" alt="...">
      </div>

