.quote {
  margin-bottom: 30px;
}

.content p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.content h4{
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
}

.visio {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.visio img {
  width: 600px;
  height: 350px;
}

.visio .card-body {
  padding: 30px;
}

.deal {
  margin-bottom: 30px;
}

.deal p{
  font-size:20px ;
  font-family: 'Times New Roman', Times, serif;
}

.deal h2{
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 30px;
}

.card-deck {
  margin-bottom: 30px;
}

.card {
  width: 18rem;
  margin-right: 15px;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card .card-body {
  padding: 15px;
}

 .card-body p{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 30px;
  font-size: 20px;
}

h1,
h2 {
  padding-left: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image img {
  /* width: 100%;
  height: auto; */
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-text {
  margin: 0;
}

@media (max-width: 767px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}


