<div class="quote">
  <div class="content">
    <h2>Our way of being</h2>
    <p>We want to be a leading group in the hotel industry always complying with our values and beliefs.
    </p>
  </div>
</div>

<div class="visio">
  <img src="/assets/images/food3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1>Natia Hotel, your first choice</h1>
    <p>Our long-term vision is to be the company of choice for guests, owners, and talent. Whenever a guest plans a trip, or an investor or owner is thinking of a partner, or whenever someone is looking for a career in the hospitality industry, they will all think of Natia Hotel</p>
  </div>
</div>

<div class="deal">
  <h2>True to our beliefs</h2>
  <p>At the heart of Natia Hotel is our brand promise, Every Moment Matters. More than our signature, it is how we do business and who we are at the core. We create memorable moments and company success by inspiring our team members with our core beliefs.</p>
</div>

<div class="card-grid">
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision1.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We deliver memorable moments every day, everywhere, every time.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision3.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We enjoy serving with our “Yes I Can!” spirit.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision2.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We grow talent, talent grows us.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision4.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We are many minds, with one mindset.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision5.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We value open and direct interactions to build trust.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision6.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We believe anything is possible.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/vision7.jpg" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">We have fun in all that we do.</p>
    </div>
  </div>
</div>


<div class="quote" style="background-image: url('/assets/images/food3.jpg');">
  <div class="content">
    <h2>Join a world of Moment Makers</h2>
    <p>With a heritage of more than 25 years of Yes I Can! Spirit, people are our number one asset.
       As one of the world’s largest hotel companies, we are always looking for great people to join
       our team. Find your position at Natia Hotel now!</p>
  </div>
</div>







