<div class="card">
  <img src="/assets/images/offer3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>BBQ LUNCH AT NATIAL BEACH</h4 >
    <p  style="color: rgb(116, 73, 73);" >Family Saturday BBQ Lunch at Natial Resort.</p>
    <p>Experience the sizzle and flavor of authentic African cuisine packed with mouthwatering options.</p>
    <p>Venue: Milima Restaurant at Natail Resort</p>
    <p>Time: 12:00hrs to 15:30hrs</p>
    <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" href="#" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
  </div>
</div>
