

<div class="welcome-section">
  <h3 class="welcome-title" style="font-size: 23px; font-family: 'Times New Roman', Times, serif; text-transform: uppercase;">Welcome to Natia Hotel Gallery</h3>
  <p class="welcome-message" style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">Hope you Enjoy Your Stay</p>
</div>


   <div class="column">
<div class="col-sm-12 col-md-4 col-lg-4">
        <p>U street: Food, History, and Street Art Tour </p>
      <a class="lightbox" href="/assets/images/gallery1.jpg">
        <img class="img-fluid" style="width: 400px; height: 400px;" src="/assets/images/gallery1.jpg" alt="Gallery Images">
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <p>Healthy Natia Salad </p>
      <a class="lightbox" href="/assets/images/gallery2.jpg">
        <img class="img-fluid" style="width: 400px; height: 400px;"  src="/assets/images/gallery2.jpg"  alt="Gallery Images">
      </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Relaxe having Natia Best Drinks</p>
      <a class="lightbox" href="/assets/images/gallery4.jpg">
        <img class="img-fluid" style="width: 400px; height: 400px;" src="/assets/images/gallery4.jpg" alt="Gallery Images">
      </a>
    </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Stay Longer , Save More</p>
          <a class="lightbox" href="/assets/images/image-3.jpg">
            <img class="img-fluid"style="width: 400px; height: 400px;" src="/assets/images/image-3.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Enjoy Rosé Piscine on the rocks </p>
          <a class="lightbox" href="/assets/images/gallery8.jpg">
            <img class="img-fluid" style="width: 400px; height: 400px;" src="/assets/images/gallery8.jpg" alt="Gallery Images">
          </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Outdoors Adventure</p>
          <a class="lightbox" href="/assets/images/gallery3.jpg">
            <img class="img-fluid" style="width: 400px; height: 400px;" src="/assets/images/gallery3.jpg"  alt="Gallery Images">
          </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Pack your bags for a family vacation</p>
          <a class="lightbox" href="/assets/images/image-2.jpeg">
            <img class="img-fluid" style="width: 400px; height: 400px;" src="/assets/images/image-2.jpeg"  alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Top Rated Experience</p>
          <a class="lightbox" href="/assets/images/gallery6.jpg">
            <img class="img-fluid"  style="width: 400px; height: 400px;" src="/assets/images/gallery6.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Handpicking Tour with Private Guide </p>
          <a class="lightbox" href="/assets/images/gallery5.jpg">
            <img class="img-fluid" style="width: 400px; height: 400px;"  src="/assets/images/gallery5.jpg" alt="" alt="Gallery Images">
          </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <p>Natia Weddings </p>
          <a class="lightbox" href="/assets/images/garelly7.jpg">
            <img class="img-fluid" style="width: 400px; height: 400px;"  src="/assets/images/gallery7.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Stay a longer with us</p>
          <a class="lightbox" href="/assets/images/image-1.jpeg">
            <img class="img-fluid" style="width: 400px; height: 380px;" src="/assets/images/image-1.jpeg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>Live to Enjoy </p>
          <a class="lightbox" href="/assets/images/gallery9.jpg">
            <img class="img-fluid" style="width: 400px; height: 400px;" src="/assets/images/gallery9.jpg" alt="Gallery Images">
          </a>
        </div>



