<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="SignUp()">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
              <input formControlName="mobile "  type="number" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
          <a style="color: #fff; margin-top: 10px;" routerLink="/signin">Already Registered  ? click to Sign in  </a>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="card" style="width: 15rem; height: 2cm;">
  <div class="card-body">
    <h1 class="card-title">Natai Beach</h1>
  </div>
  <img src="/assets/images/pinterest.jpg" class="card-img-top" alt="...">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Enjoy our lowest rates,all the time</li>
    <li class="list-group-item">Free in-room Wi-Fi</li>
    <li class="list-group-item">Mobile check-in and more</li>
  </ul>
  <div class="card-body">
    <button style=" margin-top: 10px;" type="submit" class="btn btn-primary" routerLink="/signin">Join now</button>
  </div>
</div>
