.card-body p{
	font-size: 18px;
	color:rgb(29, 19, 19);
	margin: 0;
	padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.card-body h4{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-transform: uppercase
}
.card{
  text-align: center;
}

.card img{
  height: 700px;
  margin-top: 30px;
  width: 900px;
}

