<div class="card">
  <img src="/assets/images/offer2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>MONGOLIAN BBQ DINNER</h4 >
    <p>When: Every Friday</p>
    <p>Venue: Milima Restaurant at Natail Resort</p>
    <p>Time: 18:00hrs to 21:90hrs</p>
    <p>Price: Rwfs. 30,000 per person</p>
    <p>Live Band Performance</p>
    <button routerLink="/offer-form" style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" href="#" class="btn btn-primary">BOOK NOW </button>
  </div>
</div>




