mat-sidenav-container,
mat-sidenav-content,
mat-sidenav{
  height: 100%;
}

mat-side{
  width: 250px;
}

.container{
  height: 100hv;
  display: flex;
  justify-content:center;
  align-items: center;
}
