

<div class="form-container">
  <div class="head">
    <p class="form-title">BOOKING FOR</p>
  </div>
  <form>
    <div class="card">
      <div class="row g-3">
        <div class="col">
          <label class="form-label">First Name</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
        </div>
        <div class="col">
          <label class="form-label">Middle Name</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Middle name" aria-label="Middle name">
          </div>
        </div>
        <div class="col">
          <label class="form-label">Last Name</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <div class="input-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
        <div class="input-group">
          <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Check In </label>
        <div class="input-group">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Check Out </label>
        <div class="input-group">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">No. of People</label>
        <div class="input-group">
          <input formControlName="number" type="number" class="form-control" id="exampleInputPassword1">
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
        <div class="input-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>

      <div class="text-center">
        <button class="book-now-button btn btn-primary">Book Now</button>
      </div>
    </div>
  </form>
</div>
