<div class="card">
  <img src="/assets/images/offer4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>BRUNCH AT NATAIL BEACH</h4 >
    <p  style="color: rgb(116, 73, 73);" >Brunch</p>
    <p>Every Sunday at Natial Resort with freshly pressed juices @ Rwfs.40,000 per person.</p>
    <p>Free flowing Bubbly, House Wines and Local Beers @ Rwfs.65,000 per person.</p>
    <p>Kids Brunch @ Rwfs. 22, 000 per child</p>
    <p>Time: 12:00noon to 15:30hrs</p>
    <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
  </div>
</div>
<!---------------------------------------------start---------------------------------------->




<!---------------------------------------------- end ---------------------------------->
