<div class="card">
  <img src="/assets/images/offer5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>BANQUETS & EVENTS</h4 >
    <p>the perfect destination for hosting impressive corporate gatherings. From start to finish, every detail of your function is carefully considered.
      From the sophistication of our meeting venues and the excellence of our cuisine to impeccably attuned service
      and beautifully appointed guest accommodation, you are ensured of only the best.</p>
    <p>Book your events with us!</p>
    <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" href="#" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
  </div>
</div>

