<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Forgot Password</h1>
        </div>
        <form>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email or Member Number</label>
            </div>
            <input type="email" class="form-control" id="inputEmail4">
            <p>Multiple accounts? Use your member number to reset your password.
              <a style="color: #be8080;" routerLink="/membership"> Lookup </a>member number.</p>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">First Name</label>
            </div>
            <input type="text" class="form-control" id="firstname">
            <div class="col-12">
              <label for="inputAddress" class="form-label">Last Name</label>
            </div>
            <input type="text" class="form-control" id="lastname">
            <div class="col-md-4">
              <label for="inputState" class="form-label">Country/Region</label>
              <select id="inputState" class="form-select">
                <option selected></option>
                <option>USA</option>
                <option>Rwanda</option>
                <option>Burundi</option>
                <option>Congo</option>
                <option>Malawi</option>
                <option>Togo</option>
                <option>Uganda</option>
                <option>Sudan</option>
                <option>Kenya</option>
                <option>South Africa</option>
                <option>Somalia</option>
                <option>Niger</option>
                <option>Nigeria</option>
                <option>Zambia</option>
                <option>Zimbabwe</option>
              </select>
            </div>
            <!-- <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip Code</label>
              <input type="text" class="form-control" id="inputZip">
            </div> -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a style="color: #332b2b; margin-top: 10px;" routerLink="/password">Cancel</a>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
