<div class="Containerr">
  <h2>FOOD & BEVERAGE</h2>
</div>

<div class="body">
  <p>From lavish gala dinners, to interactive wine-tasting sessions with</p>
  <p>our expert sommeliers, a world of elevated culinary experiences will</p>
  <p>deepen connections and enhance your next event.</p>
</div>

<div class="stand">
  <img style="width: 400px; height: 300px;" src="/assets/images/food5.jpg" class="card-img-top" alt="...">
  <div class="card-body" style="border-left: 1px solid rgb(15, 15, 15); padding-left: 60px; margin-left: 20px;">
    <h1 style="padding: 30px">ONE OF A KIND</h1>
    <p style="width: 400px; padding-left: 30px;" class="card-text">
      From key team meetings accompanied by barista-style coffee stations, to private Michelin-starred
      dining events with spectacular urban or ocean views, our dedicated teams will craft customized
      culinary experiences that delight your guests.
    </p>
  </div>
</div>

<div class="stand">
  <div class="card-body" style="border-right: 1px solid rgb(19, 19, 19); padding-right: 30px; margin-right: 30px;">
    <h1 style="padding: 30px">LOCAL FLAVOURS</h1>
    <p style="width: 400px; padding-left: 30px;" class="card-text">
      Our remarkable teams foster exclusive local partnerships. Whether they’re tailoring a menu for
      your group to savour on the hotel’s rooftop terrace or catering an offsite event in the galleries
      of a world-class museum, our chefs and mixologists infuse each and every creation with the freshest local flavours.
    </p>
  </div>
  <img style="width: 400px; height: 300px;" src="/assets/images/food4.jpg" class="card-img-top" alt="...">
</div>

<div class="stand">
  <img style="width: 400px; height: 300px;" src="/assets/images/food3.jpg" class="card-img-top" alt="...">
  <div class="card-body" style="border-left: 1px solid rgb(17, 17, 17); padding-left: 30px; margin-left: 30px;">
    <h1 style="padding: 30px">EDUCATIONAL EXPERIENCES</h1>
    <p style="width: 400px; padding-left: 30px;" class="card-text">
      Let one of our talented chefs take your group to a bustling local market in search of the best
      local ingredients. Or, engage one of our award-winning mixologists to teach your guests how to
      make the perfect Old Fashioned. These interactive sessions are sure to deepen connections and
      leave a lasting impression.
    </p>
  </div>
</div>


<div class="down">
  <h2 style="color: white;">YOUR Natia SEASONS EXPERIENCES</h2>
  <p class="parga" style="color: white;"> Explore recent images and find inspiration for your next Natia Seasons event.</p>
    <p  class="parga" style="color: white;">Share your own experience with us by tagging @Natia's Season with #NSEvents</p>
  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 70px;">
    <img style="width: 450px; height: 350px;" src="/assets/images/food2.jpg" class="card-img-top" alt="...">
    <img style="width: 400px; height: 500px;" src="/assets/images/food1.jpg" class="card-img-top" alt="...">
  </div>
</div>


<!-- ****************************************************************************************** -->
<div class="contact-imfo-box">
  <i class="bi bi-telephone-fill">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
    </i>
     <div class="row">
      <h4> Phone</h4>
      <div class="col-sm-10">
        <p>+250780580605</p>
      </div>
    </div>

    <div class="mb">
      <i class="fa fa-envelope"></i>
      <h4>Email</h4>
      <div class="col-sm-10">
        <p>k.robert@gmail.com</p>
      </div>
    </div>

    <div class="locat">
      <i class="fa fa-map-marker"></i>
      <h4>Location</h4>
      <div class="col-sm-10">
        <p>Eastern Province - Rwanda</p>
      </div>
    </div>
  </div>



    <footer class="footer-area bg-f">

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p class="company-name" style="font-family: 'Times New Roman', Times, serif;">All Rights Reserved. &copy; 2023 <a href="#">the Natia Beach</a></p>
            </div>
          </div>
        </div>
      </div>

    </footer>




