<div class="Containerr">
  <h2>FOOD & BEVERAGE</h2>
</div>

<div class="body">
  <p>From lavish gala dinners, to interactive wine-tasting sessions with</p>
  <p>our expert sommeliers, a world of elevated culinary experiences will</p>
  <p>deepen connections and enhance your next event.</p>
</div>

<div class="stand">
  <img style="width: 400px; height: 300px;" src="/assets/images/food5.jpg" class="card-img-top" alt="...">
  <div class="card-body" style="border-left: 1px solid rgb(15, 15, 15); padding-left: 60px; margin-left: 20px;">
    <h1 style="padding: 30px">ONE OF A KIND</h1>
    <p style="width: 400px; padding-left: 30px;" class="card-text">
      From key team meetings accompanied by barista-style coffee stations, to private Michelin-starred
      dining events with spectacular urban or ocean views, our dedicated teams will craft customized
      culinary experiences that delight your guests.
    </p>
  </div>
</div>

<div class="stand">
  <div class="card-body" style="border-right: 1px solid rgb(19, 19, 19); padding-right: 30px; margin-right: 30px;">
    <h1 style="padding: 30px">LOCAL FLAVOURS</h1>
    <p style="width: 400px; padding-left: 30px;" class="card-text">
      Our remarkable teams foster exclusive local partnerships. Whether they’re tailoring a menu for
      your group to savour on the hotel’s rooftop terrace or catering an offsite event in the galleries
      of a world-class museum, our chefs and mixologists infuse each and every creation with the freshest local flavours.
    </p>
  </div>
  <img style="width: 400px; height: 300px;" src="/assets/images/food4.jpg" class="card-img-top" alt="...">
</div>

<div class="stand">
  <img style="width: 400px; height: 300px;" src="/assets/images/food3.jpg" class="card-img-top" alt="...">
  <div class="card-body" style="border-left: 1px solid rgb(17, 17, 17); padding-left: 30px; margin-left: 30px;">
    <h1 style="padding: 30px">EDUCATIONAL EXPERIENCES</h1>
    <p style="width: 400px; padding-left: 30px;" class="card-text">
      Let one of our talented chefs take your group to a bustling local market in search of the best
      local ingredients. Or, engage one of our award-winning mixologists to teach your guests how to
      make the perfect Old Fashioned. These interactive sessions are sure to deepen connections and
      leave a lasting impression.
    </p>
  </div>
</div>


<div class="down">
  <h2 style="color: white;">YOUR Natia SEASONS EXPERIENCES</h2>
  <p class="parga" style="color: white;"> Explore recent images and find inspiration for your next Natia Seasons event.</p>
    <p  class="parga" style="color: white;">Share your own experience with us by tagging @Natia's Season with #NSEvents</p>
  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 70px;">
    <img style="width: 450px; height: 350px;" src="/assets/images/food2.jpg" class="card-img-top" alt="...">
    <img style="width: 400px; height: 500px;" src="/assets/images/food1.jpg" class="card-img-top" alt="...">
  </div>
  <router-outlet></router-outlet>
</div>






