
  <div class="deal">
  <h2>SPECIAL OFFERS</h2>
  <h4>OFFERS AT Natial Beach </h4>

  <p>Discover the latest holiday packages, Resort offers and special deals from Natail Beach in Rwanda.
  Our Reasort features the best Restaurants, an international conference centre, natia Spa & Health Club,
   an exclusive Executive Lounge and Bar, onsite business centre and full concierge services.
  </p>
  </div>
  <div class="container">
    <div class="grid-container">
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/offer1.jpg" class="card-img-top" alt="..."/>
        <div class="card-body">
          <h4>ROASTY WEDNESDAYS AT NATIAL BEACH</h4 >
          <p  style="color: rgb(49, 42, 42);" >African Buffet & Nyama Choma</p>
          </div>
          <div>
            <a style="color: #332b2b; margin-top:5px;" routerLink="/offer1">Read More</a>
          </div>
          <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
        </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/offer2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>MONGOLIAN BBQ DINNER</h4>
          <p style="color: rgb(58, 44, 44);" >BBQ</p>
          </div>
          <div>
            <a style="color: #332b2b; margin-top:5px;" routerLink="/offer2">Read More</a>
          </div>
          <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
        </div>
       <div class="card" style="width: 18rem;">
      <img src="/assets/images/offer3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>BBQ LUNCH AT NATIAL BEACH</h4>
        <p  style="color: rgb(49, 42, 42);">Family Saturday BBQ Lunch at Natial Resort.</p>
        </div>
        <div>
          <a style="color: #332b2b; margin-top:5px;" routerLink="/offer3">Read More</a>
        </div>
        <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/offer4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>BRUNCH AT NATAIL BEACH</h4>
          <p style="color: rgb(49, 42, 42);">Brunch</p>
          </div>
          <div>
            <a style="color: #332b2b; margin-top:5px;" routerLink="/offer4">Read More</a>
          </div>
          <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/assets/images/offer5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>BANQUETS & EVENTS</h4>
            <p  style="color: rgb(49, 42, 42);">Event</p>
          </div>
            <div>
              <a style="color: #332b2b; margin-top:5px;" routerLink="/offer5">Read More</a>
            </div>
            <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
        </div>
            <div class="card" style="width: 18rem;">
            <img src="/assets/images/offer6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>TURN POINTS INTO REWARDING EXPERIENCES</h4>
              <p style="color: rgb(49, 42, 42);" >Turn Points</p>
            </div>
              <div>
                <a style="color: #332b2b; margin-top:5px;" routerLink="/offer6">Read More</a>
              </div>
              <button style="color: rgb(179, 144, 144);background: #332b2b; margin-top: 10px;  height: 40px; width:200px;" class="btn btn-primary" routerLink="/offer-form">BOOK NOW </button>
            </div>
</div>
       </div>
